*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
}

.wrap{
    border-bottom: solid 2px #cc4125;
}
.wrap_cha{
    display: flex;
    margin-left: 80px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
    width: 1200px;
    margin: auto;
}
.wrap_con{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.wrap_con a{
    text-decoration: none;
    color: black;
}
.container_header{
    width: 1200px;
    display: flex;
    margin: 10px auto 0 auto;
    justify-content: space-between;
}
.wrap_con a:hover{
    color: red;
}
.logo{
    margin: 5px;
}
.hotline{
    display: flex;
    margin: 25px;
}
.chu_1{
    margin-left: 8px;
}
.search{
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
}
.search input{
    width: 300px;
    height: 43px;
    padding: 7px 30px 7px 5px;
    border:solid 1px #ff6040;
    outline: none;
    font-style: italic;
}
.search button{
    padding: 14px 14px 13px;
    background: #cc4125;
    border: #cc4125;
    color: black;
    height: 43px;
    cursor: pointer;
}

.search button:hover{
    background: #f90;
}
.icon{
    display: flex;
    margin-top: 30px;
    color: #434343;
   
}
.icon_con i{
    font-size: 36px;
    margin-right:20px ;
}
.icon_con{
    font-size: 12px;
    cursor: pointer;
}
.icon_con:hover>i{
    color: #cc4125;
}
.user-login:hover{
    color: #f90;
}
/* my accont */
.icon-con{
    position: relative;
}
.my-account{
    height: 225px;
    display: none;
    margin-top: 5px;
    z-index: 2;
    background-color: white;
    position: absolute;
    width: 291px;
    border: 1px solid rgba(255,153,0,0.8) ;
    padding: 10px 15px;
}
.my-account a{
    text-decoration: none;  
    color: #434343;
    
}
.account-infor{
    height: 50px;
    border-bottom: 1px solid #b6b2b2;
}
.account-infor p{
    line-height: 20px;
}
.account-input h4{
    font-size: 14px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
.account-input input, .account-input button{
    outline: none;
    height: 31px;
}
.account-input input{
    border: 1px solid rgba(255,153,0,0.8) ;
    text-indent: 2px;
    line-height: 30px;
    width: 231px;
}
.my-account a:hover{
    color: #f90;
}
.account-input>div{
    height: 31px;
    display: flex;
}
.account-input button{
    border: none;
    height: 31px;
    width: 31px;
    text-align: center;
    font-size: 8px;
    background-color: #f90;
    cursor: pointer;
}
.account-input button i{
    line-height: 31px;
    width: 31px;
    text-align: center;
    font-size: 13px;

}
.login-w-gg{
    background-color: #4285f4;  
    height: 39px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #efefef;
    font-size: 13px;
    margin: 15px 0 15px 0;
    cursor: pointer;
}
.login-w-gg:hover{
    background-color: #cc4125;
}
.login-w-gg img{
    height: 18px;
    width: 18px;
    margin-right: 20px;

}
.login-singup{
    display: flex;
    height: 20px ;
    justify-content: center;
}
.login-singup h3{
    line-height: 20px;
 margin: 0 15px 0 15px;
}
.login-singup span{
    line-height: 20px;
}
/* my accont */
.nav{
    height: 45px;
    z-index: 1;
}
.header-menu{
 
}
.header-menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #cc4125;
    height: 45px;
    width: 1200px;
    margin: auto;
}
.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #cc4125;
    height: 45px;
    margin: auto;
}
.cha>a{
    text-decoration: none;
    line-height: 45px;
    color: #efefef;
    font-weight: 550;
    display: block;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.cha:hover{
    background-color: #e69138;
}

.cha{
    /* text-align: center; */
    position: relative;
    width: 25%;
}
.con{
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    width: 100%;
    background-color: white;
    padding: auto;
}
.con a{
    text-decoration: none;
    color: #434343;
    line-height: 40px;
    font-size: 13px;
    margin-left: 50px;
}
.con a:hover{
    color: red;
}
.cha:hover .con{
    display: block;
}