*{
    padding: 0px;
    margin-left:px;
}
.cha{
    position: relative;
}
.con{
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    width: 354px;
    background-color: white;
}
.con a{
    text-decoration: none;
    color: #434343;
    line-height: 40px;
    font-size: 13px;
    margin-left: 50px;
}
.con a:hover{
    color: red;
}
.cha:hover .con{
    display: block;
}

.chu{
    width: 1200px;
    margin: 10px auto 10px auto;
}
.chu a{
    text-decoration: none;
    color: #ff9900;
    font-size: 12px;
    font-weight: 600;
}
.chu strong{
    font-size: 12px;
    text-decoration: underline;
}

.content{
    display: flex;
    border:1px solid #b6b2b2;
    margin: auto;
    padding: 20px;
    width: 1200px;

}
/*  */
.left{
    width: 25%;
    display: block;
}
.menu>ul{
    display: block;
    list-style-type: none;
    background-color: #cc4125;
    height: auto;
}
.cha1>a{
    text-decoration: none;
    line-height: 60px;
    color: #efefef;
    font-weight: 400;
    font-size: 15px;
    margin-left: 30px;
}
.cha1:hover{
    background: #b63a21;
}
.cha1{
    position: relative;
}
.con1{
    display: none;
    position: absolute;
    list-style-type: none;
    right: -250px;
    top: 0;
    background-color: #fff;
    width: 250px;
    border: 1px solid #cc4125;
}
.con1 a{
    width: 250px;
    text-decoration: none;
    color: #434343;
    line-height: 60px;
    font-size: 14px;
    width: 248px;
    display: inline-block;
    padding-left: 20px;
}
.con1 a:hover{
    color: #fff;
    background-color: #434343;
}
.cha1:hover .con1{
    display: block;
}

.right{
    width: 75%;
    margin-left: 15px;
}
/* lựa chọn */
.ds1{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}
span{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.option{
    font: 12px Roboto, sans-serif, sans-serif;
    color: #000;
    background-color: #fff;
    padding: 3px 20px 2px 9px;
}
/*content*/
.right {
    width: 75%;
    margin-left: 15px;
}

.right>h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0px;
}
.container_nd{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nd{
    width: 30%;
    border: 1px solid #dad3e5;
    background-color: #fff;
    margin: 10px;
    transition: all 0.5s ease
}
.nd:hover{
    border: 1px solid #ff9900;
    box-shadow: 0px 0px 5px 5px #dad3e5;
    
}
.img{
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}
.gia{
    margin-left: 10px;
}
.gia h2{
   font-size: 16px;
   cursor: pointer;
}
.gia h2:hover{
    color: #ff9900  ;
}
.gia h1{
    font-size: 18px;
    margin: 5px;
}
.button{
    width: 100%;
    background-color: #6AA84F;
    border: 0;
    padding: 10px 5px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button>i{
    margin-right: 5px;
}
.button:hover{
    background-color: #b63a21;
    color: black;
}
.icon_left{
    display: flex;
    justify-content: flex-end;  
    font-size: 13px;  
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    color: #434343;
    cursor: pointer;
}

.icon_left i{
    display: inline-block;
    font-size: 20px;
    width: 30px;
    height: 28px;
    margin: 0px 5px 0px 0px;
    padding: 4px 0px 3px;
    background: #f5f3f8;
    border: 1px solid #dad3e5;
    text-align: center;
}

.icon_left i:hover{
    color: #6AA84F;
}
/* page */
.page{
    margin: 10px 0;
    padding: 0;
    text-align: left;
}
.transfer{
    display: inline-block;
    margin: 0 5px 10px 15px;
    padding: 5px 6px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
    font: 17px Roboto,sans-serif,sans-serif;
    width: auto;
    min-width: 30px;
    border: solid 1px #000;
}
.transfer:hover{
    background-color: rgb(79, 141, 240);
}
