*{
    padding: 0px;
    margin-left:px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#udh1{
    border-bottom: solid 2px #cc4125;
}
#udh2{
    display: flex;
    margin-left: 80px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
}
#udh2 li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}
#udh3 a{
    text-decoration: none;
    color: rgb(230, 134, 44);
}
#udh4 a{
    text-decoration: none;
    color: black;
}
/* */
.content{
    display: inline-flex;
    border:1px solid #b6b2b2;
    margin-left: 60px;
    padding: 20px;
    width: 1300px;

}
.left{
    width: 25%;
    display: block;
}
.menudoc>ul{
    display: block;
    list-style-type: none;
    background-color: #cc4125;
    height: auto;
}
.cha1>a{
    text-decoration: none;
    line-height: 60px;
    color: #efefef;
    font-weight: 400;
    font-size: 15px;
    margin-left: 45px;
}
.cha1:hover{
    background: #b63a21;
}
.cha1{
    position: relative;
}
.con1{
    display: none;
    position: absolute;
    list-style-type: none;
    right: -250px;
    top: 0;
    background-color: #fff;
    width: 250px;
    border: 1px solid #cc4125;
}
.con1 a{
    width: 250px;
    text-decoration: none;
    color: #434343;
    line-height: 60px;
    font-size: 14px;
    width: 248px;
    display: inline-block;
    padding-left: 20px;
}
.con1 a:hover{
    color: #fff;
    background-color: #434343;
}
.cha1:hover .con1{
    display: block;
}

/*  */
.right{
    width: 75%;
    margin-left: 15px;
    display: inline-block;

}
.right span{
    font: 24px Roboto, sans-serif, sans-serif;
    font-weight: bold;
}
/* Phan loai */
.distribute{
    margin: 10px 0 0 0;
    background: #fff;
    border-bottom: 1px solid #fff;
    padding: 0px 15px;
    height: 25px;
}
.option{
    font: 12px Roboto, sans-serif, sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0px 0px 1px;
    padding: 3px 20px 2px 9px;
}
/* San pham */
.item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sp{
    width: 30%;
    border: 1px solid #dad3e5;
    background-color: #fff;
    margin: 10px;
    transition: all 0.5s ease
}
.sp:hover{
    border: 1px solid #ff9900;
    box-shadow: 0px 0px 5px 5px #dad3e5;    
}
.img{
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}
.price{
    margin-left: 10px;
}
.price h2{
    font-size: 16px;
    cursor: pointer;
 }
 .price h2:hover{
     color: #ff9900  ;
 }
 .price h1{
     font-size: 18px;
     margin: 5px;
 }
 .button{
     width: 100%;
     background-color: #6AA84F;
     border: 0;
     padding: 10px 5px 10px;
     color: #fff;
     font-weight: bold;
     font-size: 12px;
     cursor: pointer;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .button>i{
     margin-right: 5px;
 }
 .button:hover{
     background-color: #b63a21;
     color: black;
 }
 .icon_left{
     display: flex;
     justify-content: flex-end;  
     font-size: 13px;  
     margin-bottom: 12px;
     margin-right: 10px;
     color: #434343;
     cursor: pointer;
 }
 
 .icon_left i{
     display: inline-block;
     font-size: 20px;
     width: 30px;
     height: 28px;
     margin: 0px 5px 0 0;
     padding: 4px 0px 3px;
     background: #f5f3f8;
     border: 1px solid #dad3e5;
     text-align: center;
 }
 
 .icon_left i:hover{
     color: #6AA84F;
 }
 
 

/* So trang */
.page{
    margin: 10px 0;
    padding: 0;
    text-align: left;
}
.transfer{
    display: inline-block;
    margin: 0 5px 10px 15px;
    padding: 5px 6px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
    font: 17px Roboto,sans-serif,sans-serif;
    width: auto;
    min-width: 30px;
    border: solid 1px #000;
}
.transfer:hover{
    background-color: rgb(79, 141, 240);
}