*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* slide */
body{
    font-size: 62.5%;
}

.row{
    height: 426px;
    max-width: 1200px;
    margin: auto;
}
.content-slide .row{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.button-slide{
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    /* align-items: center; */
    background-color: rgba(120, 251, 98,0.5);
    transition: all 0.5s ease;
}
.button-slide:hover{
    background-color: rgba(120, 251, 98,1);
}
.slider:hover .button-slide{
    display: block;

}
.slider
{   
    position: relative;
    width: 75%;
    float: left;
    height: 100%;
    padding: 10px 0px 10px 0;
    
}
.slider img.slide{
    width: 100%;
    height: 100%;
    display: block;
}
#prev{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 20px;
}
#next{
    font-size: 30px;
 position: absolute;
    top: 50%;
    right: 20px;   
}
.slide-sale{
    padding: 10px 0px 10px 10px;
    width: 25%;
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* background-color: red; */
    height: 100%;
    height: 100%;
}
.slide-sale a{
    display: block;
    height: 240px;
    width: 100%;
}
.slide-sale img{
    width: 100%;
    height: 100%;
}
.slide-sale a:hover img{
    opacity: 0.85;
}
.slide-sale img:last-child{
    /* margin-top: 22px; */
    /* margin-bottom: 0px; */

}

/* slide */

/* menu dưới slide */
.slide-menu{
    height: 165px;
    /* background-color: red; */
    
}
.slide-menu .row{
    display: flex;
    justify-content: space-between;
}
.slide-menu-box{
    height: 135px;
    width: 135px;
    text-align: center;
    font-size: 1.4em;
}
.slide-menu-box img{
    border-radius: 50%;
}
.slide-menu-box img:hover{
    opacity:0.85 ;
}
/* menu dưới slide */

